################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/api/Yu.Core/obj
/src/api/.vs/YuApi/v15
/src/api/Yu.Api/obj
/src/api/Yu.Data/obj
/src/api/Yu.Model/obj
/src/api/Yu.Service/obj
/src/client/node_modules