################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/api/.vs
/src/api/Yu.Core/obj
/src/api/Yu.Core/bin
/src/api/Yu.Core/Yu.Core.csproj.user
/src/api/Yu.Api/obj
/src/api/Yu.Api/bin
/src/api/Yu.Data/obj
/src/api/Yu.Data/bin
/src/api/Yu.Data/Yu.Data.csproj.user
/src/api/Yu.Model/obj
/src/api/Yu.Model/bin
/src/api/Yu.Service/obj
/src/api/Yu.Service/bin
/src/client/node_modules
/src/client/dist
/src/client/ws.code-workspace
