<nz-layout style="height:100vh;">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow"
        *ngIf="isMenuVisible">
        <div class="logo"><a style="color:white" [routerLink]="[ '/dashboard']"
                (click)="setDashboardBreadCrumb()">Yu</a></div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu *ngIf="isCanOperate('rightmanage')" nzTitle="权限管理" nzIcon="idcard">
                <ul>
                    <li nz-menu-item nzMatchRouter *ngIf="isCanOperate('usermanage')" [routerLink]="[ '/right/user' ]"
                        (click)="setBreadCrumb('权限管理','用户管理')"><i nz-icon nzType="user" nzTheme="outline"></i>用户管理</li>
                    <li nz-menu-item nzMatchRouter *ngIf="isCanOperate('rolemanage')" [routerLink]="[ '/right/role' ]"
                        (click)="setBreadCrumb('权限管理','角色管理')"><i nz-icon nzType="audit" nzTheme="outline"></i>角色管理</li>
                    <li nz-menu-item nzMatchRouter *ngIf="isCanOperate('groupmanage')" [routerLink]="[ '/right/group' ]"
                        (click)="setBreadCrumb('权限管理','组织管理')"><i nz-icon nzType="team" nzTheme="outline"></i>组织管理</li>
                    <li nz-menu-item nzMatchRouter [routerLink]="[ '/right/position' ]"
                        (click)="setBreadCrumb('权限管理','岗位管理')"><i nz-icon nzType="team" nzTheme="outline"></i>岗位管理</li>
                    <li nz-menu-item nzMatchRouter *ngIf="isCanOperate('elementmanage')"
                        [routerLink]="[ '/right/menu' ]" (click)="setBreadCrumb('权限管理','页面元素管理')"><i nz-icon
                            nzType="ordered-list" nzTheme="outline"></i>页面元素管理</li>
                    <li nz-menu-item nzMatchRouter *ngIf="isCanOperate('apimanage')" [routerLink]="[ '/right/api' ]"
                        (click)="setBreadCrumb('权限管理','API数据管理')"><i nz-icon nzType="api" nzTheme="outline"></i>API数据管理
                    </li>
                    <li nz-menu-item nzMatchRouter *ngIf="isCanOperate('rulemanage')" [routerLink]="[ '/right/rule' ]"
                        (click)="setBreadCrumb('权限管理','规则管理')"><i nz-icon nzType="filter" nzTheme="outline"></i>规则管理
                    </li>
                    <li nz-menu-item nzMatchRouter *ngIf="isCanOperate('entitymanage')"
                        [routerLink]="[ '/right/entity' ]" (click)="setBreadCrumb('权限管理','实体数据管理')"><i nz-icon
                            nzType="profile" nzTheme="outline"></i>实体数据管理</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="办公流" nzIcon="idcard">
                <ul>
                    <li nz-menu-item nzMatchRouter [routerLink]="[ '/workflow/definition' ]"
                        (click)="setBreadCrumb('办公流','办公流管理')"><i nz-icon nzType="deployment-unit"
                            nzTheme="outline"></i>办公流管理(施工中)</li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header style="background: #fff; padding:0;" *ngIf="isMenuVisible">
            <div style="line-height: 64px;float: right;padding:0 16px;">

                <a nz-dropdown [nzTrigger]="'click'" [nzDropdownMenu]="menu">
                    <nz-avatar nzIcon="user" [nzSrc]="avatarUrl"></nz-avatar>
                    {{ userName }}<i nz-icon type="down"></i>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item [routerLink]="[ '/account/userInfo' ]" (click)="setBreadCrumb('我的信息','')">我的信息
                        </li>
                        <li nz-menu-item (click)="logout()">注销</li>
                    </ul>
                </nz-dropdown-menu>

            </div>
        </nz-header>
        <nz-content style="margin:0 16px;min-height: auto;">
            <nz-breadcrumb style="margin:16px 0;" *ngIf="isMenuVisible">
                <nz-breadcrumb-item *ngIf="prefix">{{ prefix }}</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="endfix">{{ endfix }}</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div style="padding:24px; background: #fff; min-height: calc(100% - 80px);">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer style="text-align: center;" *ngIf="isMenuVisible">YU ©2019 Implement</nz-footer>
    </nz-layout>
</nz-layout>