<nz-layout style="height:100vh;">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow">
        <div class="logo" [routerLink]="[ '/dashboard']">Yu.Web</div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu>
                <span title><i nz-icon nzType="idcard" nzTheme="outline"></i><span class="nav-text">权限管理</span></span>
                <ul>
                    <li nz-menu-item [routerLink]="[ '/right/user' ]"><i nz-icon nzType="user" nzTheme="outline"></i>用户管理</li>
                    <li nz-menu-item [routerLink]="[ '/right/role' ]"><i nz-icon nzType="audit" nzTheme="outline"></i>角色管理</li>
                    <li nz-menu-item [routerLink]="[ '/right/menu' ]"><i nz-icon nzType="ordered-list" nzTheme="outline"></i>菜单管理</li>
                    <li nz-menu-item [routerLink]="[ '/right/group' ]"><i nz-icon nzType="team" nzTheme="outline"></i>组织管理</li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header style="background: #fff; padding:0;">
            <div style="line-height: 64px;float: right;padding:0 16px;">
                
                <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
                <nz-dropdown [nzTrigger]="'click'">
                    <a nz-dropdown> ABCDE<i nz-icon type="down"></i> </a>
                    <ul nz-menu>
                        <li nz-menu-item>我的信息</li>
                        <li nz-menu-item (click)="logout()">注销</li>   
                    </ul>
                </nz-dropdown>

            </div>
        </nz-header>
        <nz-content style="margin:0 16px;min-height: auto;">
            <nz-breadcrumb style="margin:16px 0;">
                <nz-breadcrumb-item>权限管理</nz-breadcrumb-item>
                <nz-breadcrumb-item>用户管理</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div style="padding:24px; background: #fff; min-height: calc(100% - 80px);">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>