<h3 nz-title>{{wfDefine.name}} - 流程图</h3>
<div id="operateBar">
    <button nz-button nzType="primary" (click)="addNode()">添加节点</button>
    <button nz-button nzType="primary" (click)="saveFlow()" [nzLoading]="isLoading">保存流程图</button>
    <!-- <button nz-button nzType="primary">重置</button>
    <button nz-button nzType="primary">保存</button> -->
</div>
<nz-divider></nz-divider>
<div id="flowContainer">
    <div id="flowContainer">
        <button nz-button nzType="link" nzShape="circle" nzGhost (click)="zoomInClick()"><i nz-icon nzType="zoom-in"
                nzTheme="outline"></i></button>
        <button nz-button nzType="link" nzShape="circle" nzGhost (click)="zoomOutClick()"><i nz-icon nzType="zoom-out"
                nzTheme="outline"></i></button>
        <button nz-button nzType="link" nzShape="circle" nzGhost (click)="fitClick()"><i nz-icon nzType="redo"
                nzTheme="outline"></i></button>
        <div id="zoomContainer" #zoomContainer>
            <div id="diagramContainer" #diagram>
            </div>
        </div>
    </div>
</div>

<ng-template #nodeSelectModal>
    <app-node-select #nodeSelector></app-node-select>
    <nz-divider></nz-divider>
    <button class="mr-5" nz-button (click)="confirm(nodeSelector.checkedValue)">确定</button>
    <button class="mr-5" nz-button (click)="cancel()">取消</button>
</ng-template>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item (click)="editNode()"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</li>
        <li nz-menu-item (click)="deleteNode()"><i nz-icon nzType="delete" nzTheme="outline"></i>删除</li>
    </ul>
</nz-dropdown-menu>


<ng-template #editTpl>
    <nz-tabset>
        <nz-tab nzTitle="基本信息">
            <form nz-form #basicinfoform="ngForm" (ngSubmit)="basicInfoSubmit(basicinfoform)">
                <nz-form-item>
                    <nz-form-label [nzSpan]="5">节点名称</nz-form-label>
                    <nz-form-control [nzSpan]="19" [nzErrorTip]="nameErrorTpl">
                        <input nz-input autocomplete="off" type="text" name="name" [(ngModel)]="nodeInfo.name"
                            required />
                        <ng-template #nameErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                请输入节点名称
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="5">节点描述</nz-form-label>
                    <nz-form-control [nzSpan]="19" [nzErrorTip]="desErrorTpl">
                        <input nz-input autocomplete="off" type="text" name="des" [(ngModel)]="nodeInfo.describe"
                            required maxlength="22" />
                        <ng-template #desErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                请输入节点描述
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <div class="mt-10" style="float: right">
                        <button class="mr-5" nz-button type="submit">确定</button>
                    </div>
                </nz-form-item>
            </form>
        </nz-tab>
        <nz-tab nzTitle="表单设置">
            <nz-table #basicTable [nzData]="wfFormElements" nzShowPagination="false">
                <thead>
                    <tr>
                        <th nzAlign="center">名称</th>
                        <th nzAlign="center">类型</th>
                        <th nzAlign="center">可见</th>
                        <th nzAlign="center">可编辑</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td nzAlign="center">{{ data.name }}</td>
                        <td nzAlign="center">{{ getElementName(data.type) }}</td>
                        <td nzAlign="center"><label nz-checkbox
                                [(ngModel)]="getNodeElement(nodeInfo.nodeId,data.id).isVisible"></label>
                        </td>
                        <td nzAlign="center"><label nz-checkbox
                                [(ngModel)]="getNodeElement(nodeInfo.nodeId,data.id).isEditable"></label>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

            <div class="mt-10" style="float: right">
                <button class="mr-5" nz-button type="button" (click)="saveChange()">确定</button>
            </div>

        </nz-tab>
        <nz-tab nzTitle="人员设置">
            <form nz-form #peopleForm="ngForm" (ngSubmit)="peopleSubmit(peopleForm)">

                <nz-form-item>
                    <nz-form-label [nzSpan]="5">办理方式</nz-form-label>
                    <nz-form-control [nzSpan]="19">
                        <nz-select [(ngModel)]="nodeHandle.handleType" name="handleType">
                            <nz-option [nzValue]="1" nzLabel="指定人员办理"></nz-option>
                            <nz-option [nzValue]="2" nzLabel="指定岗位办理"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item *ngIf="nodeHandle.handleType==1">
                    <nz-form-label [nzSpan]="5">指定人员</nz-form-label>
                    <nz-form-control [nzSpan]="19">
                        <nz-select [(ngModel)]="nodeHandle.handlePeople" name="handlePeople" nzShowSearch nzServerSearch
                            nzMode="multiple" (nzOnSearch)="searchPeople($event)">
                            <nz-option *ngFor="let user of userList" [nzLabel]="getUserLabel(user)" [nzValue]="user.id">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item *ngIf="nodeHandle.handleType==2">
                    <nz-form-label [nzSpan]="5">岗位</nz-form-label>
                    <nz-form-control [nzSpan]="19">
                        <nz-select [(ngModel)]="nodeHandle.positionId" name="positionId" nzPlaceHolder="请选择岗位">
                            <nz-option *ngFor="let option of positions" [nzLabel]="option.positionName"
                                [nzValue]="option.id"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item *ngIf="nodeHandle.handleType==2">
                    <nz-form-label [nzSpan]="5">所在部门</nz-form-label>
                    <nz-form-control [nzSpan]="19">
                        <nz-select [(ngModel)]="nodeHandle.positionGroup" name="positionGroup">
                            <nz-option [nzValue]="1" nzLabel="任意部门"></nz-option>
                            <nz-option [nzValue]="2" nzLabel="发起人部门"></nz-option>
                            <nz-option [nzValue]="3" nzLabel="发起人上级部门"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <div class="mt-10" style="float: right">
                    <button class="mr-5" nz-button type="button" (click)="saveChange()">确定</button>
                </div>

            </form>
        </nz-tab>
    </nz-tabset>
</ng-template>