<!--搜索栏-->
<div nz-row>
  <div class="searchInput">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="用户相关信息等" name="searchText" [(ngModel)]="searchText" autocomplete="off" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="default" nzSearch (click)="searchData()"><i nz-icon type="search"></i></button>
    </ng-template>
  </div>
</div>

<!--操作栏-->
<div nz-row class="mt-10" *canOperate="'adduserbtn'">
  <nz-button-group>
    <button nz-button (click)="addUser()"><i nz-icon nzType="plus"></i>添加用户</button>
  </nz-button-group>
</div>


<!--信息展示-->
<div nz-row class="mt-10">
  <nz-table #headerTable [nzData]="listOfData" [nzFrontPagination]="false" nzHideOnSinglePage="true"
    [nzBordered]="true">
    <thead>
      <tr>
        <th nzAlign="center" nzWidth="75px">序号</th>
        <th nzAlign="center" nzWidth="75px">头像</th>
        <th nzAlign="center" nzWidth="150px">用户名</th>
        <th nzAlign="center" nzWidth="150px">姓名</th>
        <th nzAlign="center" nzWidth="150px">角色</th>
        <th nzAlign="center" nzWidth="150px">组织</th>
        <th nzAlign="center" nzWidth="150px">岗位</th>
        <th nzAlign="center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData;let i = index">
        <td nzAlign="center" nzWidth="75px">{{ i + 1 + (pageIndex - 1) * pageSize }}</td>
        <td nzAlign="center" nzWidth="75px">
          <nz-avatar nzIcon="user" [nzSrc]="data.avatar | imageUri" nzSize="large"></nz-avatar>
        </td>
        <td nzAlign="center" nzWidth="150px">{{ data.userName }}</td>
        <td nzAlign="center" nzWidth="150px">{{ data.fullName }}</td>
        <td nzAlign="center" nzWidth="150px">{{ data.roles }}</td>
        <td nzAlign="center" nzWidth="150px">{{ data.groupName }}</td>
        <td nzAlign="center" nzWidth="150px">{{ data.positionName }}</td>
        <td nzAlign="center">
          <a (appThrottleClick)="viewUserDetail(data)" *canOperate="'viewuserlink'">查看</a>&nbsp;&nbsp;
          <a (appThrottleClick)="editAvatar(data)" *canOperate="'editavatarlink'">头像</a>&nbsp;&nbsp;
          <a (appThrottleClick)="editUser(data)" *canOperate="'edituserlink'">编辑</a>&nbsp;&nbsp;
          <a (appThrottleClick)="deleteUser(data)" *canOperate="'deleteuserlink'">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<div nz-row class="mt-10">
  <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="total" [nzPageSize]="pageSize" [nzShowTotal]="totalTemplate"
    nzShowSizeChanger [nzPageSizeOptions]="[10,20,30,40,50]" (nzPageSizeChange)="pageSizeChange($event)"
    (nzPageIndexChange)="pageIndexChange()"></nz-pagination>
  <ng-template #totalTemplate let-total> 共计 {{ total }} 用户 </ng-template>
</div>

<!-- 用户详细信息 -->
<ng-template #viewContentTpl>
  <div style="text-align: center">
    <nz-avatar nzIcon="user" [nzSrc]="userDetail.avatar | imageUri" nzSize="large"></nz-avatar>
  </div>
  <nz-divider nzText="认证信息"></nz-divider>

  <div nz-row class="mt-5">
    <div class="propDescribe">用户名:</div>
    <div class="propValue">{{ userDetail.userName }}</div>
  </div>
  <div nz-row class="mt-5">
    <div class="propDescribe">电子邮箱:</div>
    <div class="propValue">{{ userDetail.email }}</div>
  </div>
  <div nz-row class="mt-5">
    <div class="propDescribe">联系电话:</div>
    <div class="propValue">{{ userDetail.phoneNumber }}</div>
  </div>
  <div nz-row class="mt-5">
    <div class="propDescribe">OPENID:</div>
    <div class="propValue">{{ userDetail.openId }}</div>
  </div>
  <div nz-row class="mt-5">
    <div class="propDescribe">微信昵称:</div>
    <div class="propValue">{{ userDetail.nickName }}</div>
  </div>

  <nz-divider nzText="角色信息"></nz-divider>
  <div nz-row class="mt-5">
    <div class="propDescribe">角色:</div>
    <nz-tag [nzColor]="'green'" *ngFor="let role of userDetail.roles">{{ role }}</nz-tag>
  </div>

  <nz-divider nzText="组织信息"></nz-divider>
  <div nz-row class="mt-5">
    <div class="propDescribe">所属组织:</div>
    <div class="propValue">{{ userDetail.userGroupName }}</div>
  </div>

  <nz-divider nzText="基本信息"></nz-divider>
  <div nz-row class="mt-5">
    <div class="propDescribe">姓名:</div>
    <div class="propValue">{{ userDetail.fullName }}</div>
  </div>

  <div nz-row class="mt-5">
    <div class="propDescribe">性别:</div>
    <div class="propValue">{{ userDetail.gender | gender }}</div>
  </div>

  <div nz-row class="mt-5">
    <div class="propDescribe">出生日期:</div>
    <div class="propValue">{{ userDetail.birthday | date:'yyyy-MM-dd'  }}</div>
  </div>

  <div nz-row class="mt-5">
    <div class="propDescribe">籍贯:</div>
    <div class="propValue">{{ userDetail.native }}</div>
  </div>

  <div nz-row class="mt-5">
    <div class="propDescribe">毕业院校:</div>
    <div class="propValue">{{ userDetail.graduate }}</div>
  </div>

  <div nz-row class="mt-5">
    <div class="propDescribe">学历:</div>
    <div class="propValue">{{ userDetail.education }}</div>
  </div>

  <div class="mt-5" style="text-align: center">
    <button nz-button nzType="default" (click)="closeDetail()">关闭</button>
  </div>
</ng-template>

<!--信息编辑-->
<ng-template #editContentTpl>
  <form nz-form #editForm="ngForm" (ngSubmit)="editSubmit(editForm)">

    <nz-divider nzText="认证信息"></nz-divider>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">用户名</nz-form-label>
      <nz-form-control [nzSpan]="12" [nzErrorTip]="nameErrorTpl">
        <input nz-input autocomplete="off" type="text" name="userName" #userName="ngModel" style="color: black;"
          [(ngModel)]="editUserDetail.userName" required appUserName [disabled]="editUserDetail.id" />
        <ng-template #nameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请输入用户名
          </ng-container>
          <ng-container *ngIf="control.hasError('userName')">
            用户名只能包含数字和字母
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">电子邮箱</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input autocomplete="off" type="text" name="email" [(ngModel)]="editUserDetail.email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">联系电话</nz-form-label>
      <nz-form-control [nzSpan]="12" [nzErrorTip]="phoneErrorTpl">
        <input nz-input autocomplete="off" type="text" name="phoneNumber" [(ngModel)]="editUserDetail.phoneNumber"
          #phoneNumber="ngModel" appTelephone />
        <ng-template #phoneErrorTpl let-control>
          <ng-container *ngIf="control.hasError('telephone')">
            电话号码格式不正确！
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">OPENID</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input autocomplete="off" type="text" name="openId" [(ngModel)]="editUserDetail.openId" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">微信昵称</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input placeholder="请输入昵称" autocomplete="off" type="text" name="nickName"
          [(ngModel)]="editUserDetail.nickName" />
      </nz-form-control>
    </nz-form-item>

    <nz-divider nzText="角色信息"></nz-divider>

    <nz-form-label [nzSpan]="5">角色</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select [(ngModel)]="editUserDetail.roles" name="roles" [nzSize]="size" nzMode="multiple"
        nzPlaceHolder="请选择角色">
        <nz-option *ngFor="let option of roles" [nzLabel]="option" [nzValue]="option"></nz-option>
      </nz-select>
    </nz-form-control>

    <nz-divider nzText="组织信息"></nz-divider>

    <nz-form-label [nzSpan]="5">组织</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-tree-select [nzNodes]="groupNodes" nzShowSearch name="groupId" nzPlaceHolder="请选择组织"
        [(ngModel)]="editUserDetail.userGroupId">
      </nz-tree-select>
    </nz-form-control>

    <nz-divider nzText="岗位信息"></nz-divider>

    <nz-form-label [nzSpan]="5">岗位</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select [(ngModel)]="editUserDetail.positionId" name="positions" [nzSize]="size" nzPlaceHolder="请选择岗位">
        <nz-option *ngFor="let option of positions" [nzLabel]="option.positionName" [nzValue]="option.id"></nz-option>
      </nz-select>
    </nz-form-control>

    <nz-divider nzText="基本信息"></nz-divider>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">姓名</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input placeholder="请输入姓名" autocomplete="off" type="text" name="fullName"
          [(ngModel)]="editUserDetail.fullName" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">性别</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select [(ngModel)]="editUserDetail.gender" name="gender">
          <nz-option *ngFor="let item of genders" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">出生日期</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker [(ngModel)]="editUserDetail.birthday" name="birthday"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">籍贯</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input placeholder="请输入籍贯" autocomplete="off" type="text" name="native"
          [(ngModel)]="editUserDetail.native" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">毕业学校</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input placeholder="请输入毕业学校" autocomplete="off" type="text" name="graduate"
          [(ngModel)]="editUserDetail.graduate" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">学历</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input placeholder="请输入学历" autocomplete="off" type="text" name="education"
          [(ngModel)]="editUserDetail.education" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="12" [nzOffset]="5">
        <button class="mr-5" nz-button nzType="primary" type="submit" [nzLoading]="isLoading"
          [disabled]="!editForm.valid">提交</button>
        <button class="mr-5" nz-button nzType="primary" type="button" (click)="cancelEdit()"
          [nzLoading]="isLoading">取消</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</ng-template>

<!--头像编辑-->
<ng-template #avatarEdit>
  <h2>点击修改头像</h2>
  <small>只能上传JPG格式图片，图片大小必须小于2MB，图像高宽必须一致。</small>
  <div class="avatar-uploader">
    <nz-upload [nzAction]="uploadUrl" nzName="avatar" nzListType="picture-card" [nzShowUploadList]="false"
      [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
      <ng-container *ngIf="!avatarUrl">
        <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
        <div class="ant-upload-text">Upload</div>
      </ng-container>
      <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" />
    </nz-upload>
  </div>
  <button class="mt-5" nz-button nzType="primary" (click)="closeModal()">关闭</button>

</ng-template>