<div class="explorer">

  <div nz-col nzSpan="6" class="tree">
    <button nz-button (click)="addRuleGroup()">添加新规则组</button>
    <nz-table #basicTable [nzData]="ruleGroups" nzShowPagination="false">
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.name}}</td>
          <td style="width:70px;">
            <a (click)="edit(data)">编辑</a>
            <a (click)="delete(data)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>


  <div nz-col nzSpan="18" class="content">

    <div class="mt-5">
      <input nz-input style="width: 250px;" [(ngModel)]="ruleGroup.name" name="groupname" placeholder="请输入规则组名">
    </div>

    <app-rule [(option)]="ruleOptions"></app-rule>
    

    <button nz-button class="mt-5" (click)="saveRule($event)">保存规则</button>

  </div>
</div>