<div class="systitle">YU 开源权限管理系统</div>
<div class="fullwindow">
  <div *ngIf="islogin">
    <nz-card class="login-card" [nzBordered]="true">
      <h1>登录</h1>
      <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="userNameErrorTpl">
            <nz-input-group [nzPrefix]="userPrefix" nzValidateStatus="userName">
              <input type="text" nz-input placeholder="请输入用户名" autocomplete="off" name="userName"
                [(ngModel)]="loginModel.userName" #userName="ngModel" required />
              <ng-template #userPrefix><i nz-icon type="user"></i></ng-template>
              <ng-template #userNameErrorTpl let-control style="float:left;display:block">请输入用户名</ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="请输入密码">
            <nz-input-group [nzPrefix]="passwordPrefix" nzValidateStatus="password">
              <input type="password" nz-input placeholder="请输入密码" autocomplete="off" name="password"
                [(ngModel)]="loginModel.password" #password="ngModel" required />
              <ng-template #passwordPrefix><i nz-icon type="lock"></i></ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzSpan="12" nzHasFeedback nzErrorTip="请输入验证码">
            <input type="text" nz-input placeholder="验证码" autocomplete="off" name="captchaCode"
              nzValidateStatus="captchaCode" [(ngModel)]="loginModel.captchaCode" #captchaCode="ngModel" required />
          </nz-form-control>
          <nz-form-control nzSpan="12" class="txt-center">
            <img [src]="imagesrc" (click)="refresh()">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="m-0">
          <nz-form-control>
            <button nz-button nzType="primary" nzBlock [disabled]="!loginForm.valid"
              [nzLoading]="isLoading">登录系统</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <div class="txt-right">
        <a style="color: lightgray;" (click)="changePwd()">忘记密码</a>
      </div>
    </nz-card>
  </div>

  <div *ngIf="isResetPwd">
    <nz-card class="login-card" [nzBordered]="true">
      <h1>重置密码</h1>
      <form #resetForm="ngForm" (ngSubmit)="resetPwdByPhone(resetForm)" appConfirmPassword>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="phoneErrorTpl">
            <nz-input-group [nzPrefix]="phonePrefix" nzValidateStatus="phoneNumber">
              <input type="text" nz-input placeholder="请输入手机号" autocomplete="off" name="phoneNumber"
                [(ngModel)]="phonePwdModel.phoneNumber" #cpwbphone="ngModel" required appTelephone />
              <ng-template #phonePrefix><i nz-icon type="phone"></i></ng-template>
              <ng-template #phoneErrorTpl let-control style="float:left;display:block">
                <ng-container *ngIf="control.hasError('required')">
                  请输入手机号
                </ng-container>
                <ng-container *ngIf="control.hasError('telephone')">
                  不是合法的手机号
                </ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzSpan="12" nzErrorTip="请输入验证码">
            <input type="text" nz-input placeholder="请输入验证码" autocomplete="off" name="validCode"
              nzValidateStatus="validCode" [(ngModel)]="phonePwdModel.validCode" #validCode="ngModel" required />
          </nz-form-control>
          <nz-form-control nzSpan="12" class="txt-center">
            <button nz-button type="button" [disabled]="cpwbphone.errors" [nzLoading]="isLoadingSendCode" (click)="sendCode()">{{sendCodeContent}}</button>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入新密码">
            <nz-input-group [nzPrefix]="passwordPrefix" nzValidateStatus="newPassword">
              <input type="password" nz-input placeholder="请输入新密码" autocomplete="off" name="newPassword"
                [(ngModel)]="phonePwdModel.newPassword" #newPassword="ngModel" required />
              <ng-template #passwordPrefix><i nz-icon type="lock"></i></ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="passwordErrorTpl" [nzValidateStatus]="sameCheck(resetForm)">
            <nz-input-group [nzPrefix]="passwordPrefix" nzValidateStatus="confirmNewPassword">
              <input type="password" nz-input placeholder="请确认新密码" autocomplete="off" name="confirmPassword"
                [(ngModel)]="phonePwdModel.confirmNewPassword" #confirmPassword="ngModel" required />
              <ng-template #passwordPrefix><i nz-icon type="lock"></i></ng-template>
              <ng-template #passwordErrorTpl let-control style="float:left;display:block">
                <ng-container *ngIf="resetForm.errors?.isNotSame">
                    确认密码不一致
                </ng-container>
                <ng-container *ngIf="confirmPassword.errors?.required">
                    请输入确认密码
                </ng-container>
              </ng-template>

            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="m-0">
          <nz-form-control>
            <button nz-button nzType="primary" nzBlock [disabled]="!resetForm.valid"
              [nzLoading]="isLoading">修改密码</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <div class="txt-right">
        <a style="color: lightgray;" (click)="returnLogin()">返回</a>
      </div>
    </nz-card>
  </div>
</div>