<div class="systitle">YU 开源权限管理系统</div>
<div class="fullwindow">
  <div>
    <nz-card class="login-card" [nzBordered]="true">
      <h1>登录</h1>
      <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
        <nz-form-item>
          <nz-form-control nzHasFeedback>
            <nz-input-group [nzPrefix]="userPrefix" nzValidateStatus="userName">
              <input type="text" nz-input placeholder="请输入用户名" autocomplete="off" name="userName"
                [(ngModel)]="loginModel.userName" #userName="ngModel" required />
              <ng-template #userPrefix><i nz-icon type="user"></i></ng-template>
            </nz-input-group>
            <nz-form-explain *ngIf="userName.invalid && userName.dirty" class="pull-left">请输入用户名</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzHasFeedback>
            <nz-input-group [nzPrefix]="passwordPrefix" nzValidateStatus="password">
              <input type="password" nz-input placeholder="请输入密码" autocomplete="off" name="password"
                [(ngModel)]="loginModel.password" #password="ngModel" required />
              <ng-template #passwordPrefix><i nz-icon type="lock"></i></ng-template>
            </nz-input-group>
            <nz-form-explain *ngIf="password.invalid && password.dirty" class="pull-left">请输入密码</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzSpan="12" nzHasFeedback>
            <input type="text" nz-input placeholder="验证码" autocomplete="off" name="captchaCode"
              nzValidateStatus="captchaCode" [(ngModel)]="loginModel.captchaCode" #captchaCode="ngModel" required />
            <nz-form-explain *ngIf="captchaCode.invalid && captchaCode.dirty" class="pull-left">请输入验证码</nz-form-explain>
          </nz-form-control>
          <nz-form-control nzSpan="12">
            <img [src]="imagesrc" (click)="refresh()">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" nzBlock [disabled]="!loginForm.valid"
              [nzLoading]="isLoading">登录系统</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>

  </div>
</div>