.fullwindow {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  .login-card {
    width: 400px;
    text-align: center;
  }
  // background:url('https://bing.ioliu.cn/v1?w=1920&h=1080') no-repeat center fixed;
}

.systitle{
  position: absolute;
  left: calc(50% - 214px);;
  color: #fff;
  padding: 50px 0;
  font-size: 45px;
}

.pull-left{
  float: left;
}